<div class="row mt-2">
    <div class="col">
        <div class="form-floating mb-2">
            <input required tabindex="10" name="first_name" type="text" class="form-control focus" id="floatfirstname" placeholder="Chris"{{if .FirstName}} value="{{.FirstName}}"{{end}}>
            <label for="floatfirstname">First Name</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-2">
            <input required tabindex="11" name="last_name" type="text" class="form-control" id="floatinglastname" placeholder="Smith"{{if .LastName}} value="{{.LastName}}"{{end}}>
            <label for="floatinglastname">Last Name</label>
        </div>
    </div>
</div>
<div class="form-floating mb-2">
    <input tabindex="12" name="email" type="email" class="form-control" id="floatingemail" placeholder="name@example.com"{{if .Email}} value="{{.Email}}"{{end}}>
    <label for="floatingemail">Email Address</label>
</div>
<div class="form-floating mb-2">
    <input tabindex="13" name="phone" type="phone" class="form-control" id="floatingphone" placeholder="+1 612-555-5555"{{if .Phone}} value="{{.Phone}}"{{end}}>
    <label for="floatingphone">Phone Number</label>
</div>