<div class="form-floating mb-2">
    <input required tabindex="20"  name="address1" type="text" class="form-control focus" id="address1" placeholder="314 Circle St"{{if .Membership.Address1}} value="{{.Membership.Address1}}"{{end}}>
    <label for="address1">Address Line 1</label>
</div>
<div class="form-floating mb-2">
    <input tabindex="21" name="address2" type="text" class="form-control" id="address2" placeholder="C/O Pie"{{if .Membership.Address2}} value="{{.Membership.Address2}}"{{end}}>
    <label for="address2">Address Line 2</label>
</div>
<div class="row">
    <div class="col">
        <div class="form-floating mb-2">
            <input required tabindex="22" name="city" type="text" class="form-control" id="city" placeholder="Minneapolis"{{if .Membership.City}} value="{{.Membership.City}}"{{end}}>
            <label for="city">City</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-2">
            <input required tabindex="23" name="state" type="text" class="form-control" id="state" placeholder="MN"{{if .Membership.State}} value="{{.Membership.State}}"{{end}}>
            <label for="state">State</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-2">
            <input required tabindex="24" name="zip" type="text" class="form-control" id="zip" placeholder="55123"{{if .Membership.Zip}} value="{{.Membership.Zip}}"{{end}}>
            <label for="zip">Zip</label>
        </div>
    </div>
</div>
<div class="form-floating mb-2">
    <input tabindex="25" name="landline" type="phone" class="form-control" id="landline" placeholder="+1 612-555-5555"{{if .Membership.Landline}} value="{{.Membership.Landline}}"{{end}}>
    <label for="landline">Group/Landline Phone Number</label>
</div>
<div class="form-floating mb-2">
    <select tabindex="26" class="form-select" name="membership_type" id="membershiptype" required>
        {{$type := .Membership.MembershipType}}
        {{range .MembershipTypes}}
        <option value="{{.}}"{{if eq $type .}} selected{{end}}>{{.}}</option>
        {{end}}
    </select>
    <label for="membership_type">Membership Type</label>
</div>
