
<div class="col-lg-4">
    <div class="card border-bg-primary bg-secondary-subtle mb-1">
        <div class="card-header">
            <div style="float: right;"><span class="badge bg-secondary">ID# {{.MHSID}}</span></div>
            {{.LastName}}{{if .FirstName}}, {{.FirstName}}{{end}}
        </div>
        <div class="card-body">
            <div>{{if (eq (len .Phone) 10)}}{{slice .Phone 0 3}}-{{slice .Phone 3 6}}-{{slice .Phone 6 10}}{{else}}{{.Phone}}{{end}}</div>
            <div><a href="mailto:{{.Email}}">{{.Email}}</a></div>
            <div class="row mt-2">
                <button class="col btn btn-sm btn-primary" hx-get="/membership/{{.MembershipID}}/member/{{.ID}}/edit">Edit</button>
                <button class="col mx-1 btn btn-sm btn-outline-primary" hx-get="/membership/{{.MembershipID}}/member/{{.ID}}/transfer">Transfer</button>
                <button class="col btn btn-sm btn-outline-danger" hx-confirm="Are you sure you wish to remove {{.FirstName}}?" hx-delete="/membership/{{.MembershipID}}/member/{{.ID}}">Remove</button>
            </div>
        </div>
    </div>
</div>
